
#header{
  width:100%;
}
/* header媒体查询 */
@media screen and (min-width:992px){
  #header{
    width:100%;
    height:18.05rem;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  #header{
    width:100%;
    height:17.94rem;
  }
}
@media screen and (max-width:767px){
  #header{
    width:100%;
    height:18.1rem;
  }
}
#footer{
  width:100%;
}
/* footer媒体查询 */
@media screen and (min-width:992px){
  #footer{
    height:26.5rem;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  #footer{
    height:26.5rem;
  }
}
@media screen and (max-width:767px){
  #footer{
    height:28.25rem;
  }
}
body{
  background:#21190E;
  color:#E89E1A;
}

div.line{
  background:url("../html/images/divider-bg.png") repeat-x;
  height:1.25rem;
  margin:6rem auto;
}

div.line1{
  background:url("../html/images/divider-bg2.png") repeat-x;
  height:1.25rem;
  margin:6rem auto;
}

.nav_bg{
  background-color:#302515;
  margin-top:-0.4rem;
  border-bottom:5px solid #40260C;
}

.my_small{
  font-size:12px;
}

a:hover{
  text-decoration:none;
}